@media screen and (min-width:769px) and (max-width:1024px) {
    /* banner section start */
    .banner{
        height: 25rem;
    }
    .banner-title{
        font-size: 1.1rem;
        padding-bottom: 0.5rem;
    }
    .banner-heading{
        max-width: 89% ;
        font-size: 2.3rem;
    padding: 0;
    width: 19rem;
    }
    /* banner section stop */
     /* party section start */
     .party-section{
        background-size: 85vw;
        max-height: 24.5rem;
    }
    .party-container{
        max-width: 60%;
       margin-left: 3rem;

    }
    .party-title{
        width: 16rem;
        font-size: 2rem;
        padding: 7rem 0 0 0 ;
        margin-left: 4rem;
    }
    .party-description{
        font-size: 1rem;
        width: 26rem;
        padding: .3rem 0 0 4rem;

    }
    .party-button{
        font-size: 1rem;
        margin: 0.8rem 14rem 0 6rem;
      }
      .party-image{
        height: 18rem;
        width: 14rem;
        margin: 3rem 4.5rem 0 0;
      }
    /* party section stop */

    /* join section start */
    .join-section{
        height: 21rem;
    }
    /* join section stop */

         /* best offer section start */

         .best-offer-section {
            margin-top: 2rem;
          }
          
          .offer-heading {
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: 4rem;
            margin-left: 0;
          }
          .offer-title {
            width: 14rem;
            font-size: 2rem;
            margin-left: 0;
            margin-top: 0.2rem;
            padding-bottom: 0.2rem;
          }
          .offer-description {
            font-size: 0.8rem;
            font-weight: 400;
            width: 11rem;
            margin-left: 0;
          }
          .border {
            margin: 4rem 0 0 0;
      
            border: 0.4rem solid #f00;
          
          }
          .best-offer-image {
            width: 15.5rem;
            height: 15.5rem;
            border-radius: 50%;
            transform: scale(0.85);
            
          }
          .year-logo{
          font-size: 2rem;
          margin: 4rem 0 0.5rem 0;
          }
          .year-description{
            width:12rem;
          font-size: 0.8rem;
          margin: 0 0 0.5rem 0;
          }
          .year-icon{
            width: 6.5rem;
            height: 6.5rem;
            margin: 2rem 0 0.5rem 0;
          }
          /* best offer section stop */
}